* {
  margin: 5px;
}

.container {
  border: 2px solid black;
}

.textareaInput,
.textareaLabel {
  display: block;
}

input {
  margin-bottom: 15px;
  text-align: center;
}

fieldset {
  margin-bottom: 15px;
}

textarea{
  margin-bottom: 15px;
}

p{
  margin-bottom: 15px;
  margin-top: 15px;
}
::placeholder{
  text-align: center;
}
select{
  width: 17em;
}
